<div class="row">
  <div>
    <div class="card card-user">
      <div class="card-header">
        <a class="back" routerLink="/productos" >
          <i class="nc-icon nc-minimal-left"></i>
        </a>
        <h1 class="card-title typography-line">Nuevo producto</h1>
      </div>
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-md-6 px-1">
              <div class="form-group">
                <label>Nombre del producto</label>
                <input [disabled]="loading" type="text" name="name" class="form-control" [(ngModel)]="product.name"
                  placeholder="Ingresa el nombre del producto">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="price">Precio</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input [disabled]="loading" type="number" class="form-control" name="price" [(ngModel)]="product.price" aria-label="0.00"
                    placeholder="0.00">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Stock</label>
                <input [disabled]="loading" type="number" class="form-control" name="stock" [(ngModel)]="product.stock"
                  placeholder="Ingresa la cantidad de productos existentes" value="Chet">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Estatus</label>
                <select [disabled]="loading" class="form-select" [(ngModel)]="product.status" aria-label="Default select example">
                  <option value="">Selecciona el estatus del producto...</option>
                  <option value="production">En producci&oacute;n</option>
                  <option value="finalized">Finalizado</option>
                  <option value="discontinued">Descontinuado</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-8 px-1">
              <div class="form-group">
                <label>Categor&iacute;a</label>
                <select [disabled]="loading" class="form-select" aria-label="Categoria" name="category" [(ngModel)]="product.category_id">
                  <option value="{{ 0 }}">Selecciona una categor&iacute;a</option>
                  <option *ngFor="let category of categories" value="{{ category.id }}">
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-warning btn-round mt-4" (click)="close_popup = !close_popup">Agregar una
                  categor&iacute;a</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="update ml-auto mr-auto">
            <app-loading *ngIf="loading"></app-loading>
            <button *ngIf="!loading" class="btn btn-primary btn-round" (click)="saveProduct()">Agregar el producto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-alert [status]="status" [message]="message" *ngIf="status != ''"></app-alert>
